.header {
    background: rgb(18, 144, 231);
    justify-content: flex-start;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.nav {
    width: 90%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav .bran-d {
    display: inline-block;
    margin-right: 1em;
}

.nav .bran-d img {
    vertical-align: top;
    height: 80px;
}

.nav .links {
    display: inline-block;
    text-align: right;
}

.nav .links a {
    padding: 1em;
    text-align: center;
    font-size: 1em;
    margin-right: 5px;
    color: white;
}

.main-g {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.btntable {
    background-color: rgb(26, 135, 206);
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}