<header class="header">

    <!-- Menu -->
    <nav class="nav">
        <div class="bran-d">
            <img id="brand" src="../../../assets/img/waiterQueenN.png" alt="Logo-png">
        </div>
        <div class="links">
            <a>Mesas</a>
            <a>Menu</a>
        </div>
    </nav>


</header>


<section class="main-g">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre de la mesa</th>
                <th scope="col">Numero de la mesa</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">Mesa 1</th>
                <th scope="row"> 1</th>

            </tr>

            <button class="btn btn-primary"><i class="fa fa-plus"></i> Agregar nueva mesa </button>


        </tbody>
    </table>

    <div class="alert alert-info text-center mt-3" role="alert">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor
        </p>
    </div>


</section>