<section class="container-menu-Almz">
    <h4>Hamburguesa</h4>
    <article *ngFor="let item of burguer">
        <p class="">{{item.name}}
            <button class="btnn"><i class="fa fa-plus"></i></button>
            <button class="btnn"><i class="far fa-trash-alt"></i></button>
        </p>

    </article>

    <h4>Relleno</h4>
    <article *ngFor="let item of filling">
        <p class="">{{item.name}}
            <button class="btnn"><i class="fa fa-plus"></i></button>
            <button class="btnn"><i class="far fa-trash-alt"></i></button>
        </p>

    </article>

    <h4>Acompañamiento</h4>
    <article *ngFor="let item of accom">
        <p class="">{{item.name}}
            <button class="btnn"><i class="fa fa-plus"></i></button>
            <button class="btnn"><i class="far fa-trash-alt"></i></button>
        </p>
    </article>

    <h4>Bebidas</h4>
    <article *ngFor="let item of drinks">
        <p class="">{{item.name}}
            <button class="btnn"><i class="fa fa-plus"></i></button>
            <button class="btnn"><i class="far fa-trash-alt"></i></button>
        </p>
    </article>