

*{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #343638;
}

.burgerHeader {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #c4c4c4;
}

.inputsContainer {
  display: flex;
  justify-content: space-around;
}

.btnsContainer {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: flex-start;
}

.commandContainer {
  float: left;
  width: 55%;
  display: flex;
  flex-flow: row wrap;
}
.command {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  color: #ffffff;
  background-color: #4D5054;
  height: auto;
}

.trashIcon {
  background-size: auto;
}

.comments {
  width: 500px;
  height: 40px;
  vertical-align: top;
  text-align: start;
  padding-left: 3px;
}

.sendKitchenContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 3%;
  color: #ffffff;
  background-color: #4D5054;
  height: auto;
}

.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  margin-top: 10%;
  margin-bottom: 6%;
}

/* Responsive */

/* @media screen and (min-width:1501px) and (max-width:1800px){
}

@media screen and (min-width:1025px) and (max-width:1500px){
} */

/* @media screen and (min-width:750px) and (max-width:1024px){
} */

@media screen  and (max-width:750px) and (min-width:501px){
  .inputsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .btnsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .title {
    font-size: 18px;
  }
  .commandContainer {
    float: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 3%
  }
}

@media screen  and (max-width:500px) and (min-width:320px){
  .inputsContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .btnsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .title {
    font-size: 18px;
  }
  .commandContainer {
    float: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 3%;
  }
}

