body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.divsHome{
  display: flex;
    height: 40vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.divsHome h1{
  color: #430064;
}
.table-detail{
  width: 44vh;
  display: grid;
  float: left;
  border: solid #000

}
.holi{
display: flex;
}
